<div class="container">
    <div class="well well-sm">
        <strong>Display</strong>
        <div class="btn-group">
            <a href="#" id="list" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list">
            </span>List</a> <a href="#" id="grid" class="btn btn-default btn-sm"><span
                class="glyphicon glyphicon-th"></span>Grid</a>
        </div>
    </div>
    {{# each products }}
        <div id="products" class="row list-group">
            {{#each this}}
                <div class="item  col-xs-4 col-lg-4">
                    <div class="thumbnail">
                        <img class="group list-group-image" src='{{ this.imgPath }}' style="width: 200px; height: 200px" alt="" />
                        <div class="caption">
                            <h4 class="group inner list-group-item-heading">
                                {{ this.title }}</h4>
                            {{#if this.description}}
                            <p class="group inner list-group-item-text">
                                <span class="collapse" id="{{ this.ASIN }}">{{ this.description }}</span> <a data-toggle="collapse" data-target="#{{ this.ASIN }}">More... &raquo;</a>
                            </p>
                            {{/if}}
                            <div class="row">
                                <div class="col-xs-12 col-md-6">
                                    <p class="lead">
                                        {{this.price}}</p>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <a class="btn btn-success" href="http://www.jquery2dotnet.com">Add to cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    {{/each}}
    <nav aria-label="1Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="\\{{{path}}}\\{{{prev_page}}}">Previous</a></li>
            {{{ pages }}}
           <!-- <li class="page-item"><a class="page-link" href="/1">1</a></li>
            <li class="page-item"><a class="page-link" href="/2">2</a></li>
            <li class="page-item"><a class="page-link" href="/3">3</a></li>-->
            <li class="page-item"><a class="page-link" href="\\{{{path}}}\\{{{next_page}}}">Next</a></li>
        </ul>
    </nav>
</div>
